body {
    max-width: 1000px;
    margin-top : 25%;
    margin-bottom : 25%;
    margin-right : 25%;
    margin-left : 25%;
    width: 100%;
    height: 100%;
    display: flex;
    padding:10px;
  color: white;
    background-color: black;
    place-content: center;
  }
  p{
    font-size:15px;
    font-family: Legend Deca;
    font-weight: 700;
    text-align:left;
  padding: 25px;
    max-width: 100px;
  
  }
  
  main{
    display: flex;
    flex-direction: no-column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    width: 600px;
    height:300px;
    background-color: white;
    margin: 0;
    padding: 50px;
  
  }
  button{
    background-color: hsl(0, 0%, 95%);
    display:block; 
    margin: 0 auto;
      font-size:15px;
  
  }
  
  h{
    background-color: hsl(0, 0%, 95%);
  
  }
  .a {
    color: hsl(31, 77%, 52%)
  }
  .b {
    color: hsl(184, 100%, 22%))
  }
  .c {
    color: hsl(179, 100%, 13%)
  }
  .item-a{
    background-color: hsl(31, 77%, 52%);
    grid-area:a;
  }
  
  .item-b{
    background-color:  hsl(184, 100%, 22%);
    grid-area: b;
  }
  
  .item-c{
    background-color: hsl(179, 100%, 13%);
    grid-area: c;
  }
  
  